@import "tailwindcss";

:root {
    --font-dm-sans: "DM Sans", sans-serif;
  }
  
  .dm-sans {
    font-family: var(--font-dm-sans);
  }

  .text-custom-spacing {
    letter-spacing: 0%; /* ปรับตามต้องการ */
  }